$font-family-sans-serif: "Montserrat",
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol";
$enable-caret: true;
$blue: #0052CC;
$indigo: #6554C0;
$purple: #4541ef;
$red: #DE350B;
$orange: #FF5630;
$gray-800: #343a40;
$dark: $gray-800;
$secondary: $dark;
$text-color: #4a5669;
$line-height-base : 2;
$link-hover-decoration: none;
$input-btn-focus-width: 0rem;
$input-btn-padding-x-sm: 1.4rem;
$input-btn-padding-x-lg: 3rem;
$input-btn-padding-y-lg: 0.4rem;
$font-size-base: .9rem;
$h1-font-size: $font-size-base * 3;
$h2-font-size: $font-size-base * 2.5;
$h3-font-size: $font-size-base * 2;
$h4-font-size: $font-size-base * 1.75;
$h5-font-size: $font-size-base * 1.50;
$headings-font-weight: 600;
$list-inline-padding: 10px;
$input-btn-padding-y: 0.4rem;
$input-btn-padding-x: 2rem;
$input-btn-padding-y-sm: 0.5rem;
$form-text-margin-top: 0.4rem;
$form-check-margin-bottom: 0.4rem;
$dropdown-item-padding-y: 0.5rem;
$pagination-padding-y: 0.4rem;
$pagination-padding-x: 1rem;
$pagination-padding-y-sm: 0.4rem;
$pagination-padding-x-sm: 0.6rem;
$pagination-border-color: #d2e4ff;
$pagination-hover-border-color: #d2e4ff;
$pagination-disabled-border-color: rgba(210, 228, 255, 0.6);
$tooltip-bg: $dark;
$tooltip-opacity: 1;
$tooltip-padding-y: 6px;
$tooltip-padding-x: 12px;
$tooltip-arrow-width: 3px;
$tooltip-arrow-height: 3px;
$badge-padding-y: 0.4em;
$badge-padding-x: 0.6em;
$badge-pill-padding-x: 1em;
$modal-content-border-color: #d2e4ff;
$white: #fff;
$modal-backdrop-bg: $white;
$modal-backdrop-opacity: .6;
$modal-header-border-color: #d2e4ff;
$modal-lg: 900px;
$alert-padding-y: 1rem;
$breadcrumb-bg: #f6fafd;
$code-padding-y: 0.1rem;
$code-padding-x: 0.6rem;
$code-color: #FF7452;
$pre-scrollable-max-height: 400px;
$border-radius: 0.15rem;
$border-radius-lg: .2rem;
$border-radius-sm: .1rem;